{% load cms_tags sekizai_tags static menu_tags semcomp %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Semcomp{% endblock %}</title>
		{% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
		{% addtoblock "css" %}
			<link rel="stylesheet" href="{% static "css/app.css" %}">
			{% block extracss %}{% endblock %}
		{% endaddtoblock %}
	</head>
	<body>
		{% cms_toolbar %}
		<section role="main">
			
			{% block header %}{% endblock %}

			<div class="row">
				<nav class="top-bar" data-topbar>
					<ul class="title-area">
						<li class="name">
							<h1 class="show-for-small"><a href="{% page_url "home" %}">Semcomp</a></h1>
						</li>
						<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
					</ul>
					<section class="top-bar-section">
						<ul>
							{% show_menu 0 100 100 %}
						</ul>
					</section>
				</nav>
			</div>

			{% block base_content %}{% endblock %}

			<!-- Sponsors -->
			<hr>
			{% render_sponsors %}
			<footer>
				<hr>
				<div class="row">
					<div class="medium-4 columns text-center">
						<h2>Realização</h2>
					</div>
					<div class="medium-4 columns text-center">
						<h2>Contato</h2>
						<ul class="no-bullet">
							<li>+55 (16) 3373-9703</li>
							<li>+55 (16) 3373-9686</li>
							<li><a href="mailto:semcomp@icmc.usp.br">semcomp@icmc.usp.br</a></li>
						</ul>
					</div>
					<div class="medium-4 columns text-center">
						<h2>Siga-nos</h2>
					</div>
				</div>
			</footer>
		</section>
		{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
		{% addtoblock "js" %}
			<script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
			<script src="{% static "bower_components/jquery/jquery.js" %}"></script>
			<script src="{% static "bower_components/foundation/js/foundation.min.js" %}"></script>
			<script>
				$(document).foundation();
			</script>
			{% block extrajs %}{% endblock %}
		{% endaddtoblock %}
	</body>
</html>
