{% load cms_tags sekizai_tags static menu_tags %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Semcomp</title>
		{% render_block "css" %}
		{% addtoblock "css" %}
			<link rel="stylesheet" href="{% static "css/app.css" %}">
		{% endaddtoblock %}
	</head>
	<body>
		{% cms_toolbar %}
		<section role="main">
			
			{% block header %}{% endblock %}

			<div class="row">
				<nav class="top-bar">
					<ul class="title-area">
						<li class="name">
							<h1 class="show-for-small"><a href="{% page_url "home" %}">Semcomp</a></h1>
						</li>
						<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
					</ul>
					<section class="top-bar-section">
						<ul>
							{% show_menu 0 100 100 %}
						</ul>
					</section>
				</nav>
			</div>

			{% block base_content %}{% endblock %}

			<!-- Sponsors -->
			<hr>
			<div class="row">
				<h2>Patrocinadores</h2>
			</div>
			<div class="row">
				{% for i in "1234567" %}
					<div class="sponsor small-6 large-3 large-uncentered columns">
						<img src="http://placehold.it/250x150&text=sponsor+{{i}}">
					</div>
				{% endfor %}
			</div>
			<div class="row">
				<h2>Apoio</h2>
				{% for i in "abcde" %}
					<div class="sponsor small-6 large-3 large-uncentered columns">
						<img src="http://placehold.it/250x150&text=sponsor+{{i}}">
					</div>
				{% endfor %}
			</div>
			<footer>
				<hr>
				{% placeholder footer %}
			</footer>
		</section>
		<script>
			document.write(
				'<script src=' +
				('__proto__' in {} ?
					'{% static "js/vendor/zepto" %}' :
					'{% static "js/vendor/jquery" %}') +
				'.js><\/script>');
		</script>
		{% render_block "js" %}
		{% addtoblock "js" %}
			<script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

			<script src="{% static "js/foundation/foundation.js" %}"></script>
			<script src="{% static "js/foundation/foundation.tooltips.js" %}"></script>
			<script src="{% static "js/foundation/foundation.alerts.js" %}"></script>
			<script src="{% static "js/foundation/foundation.orbit.js" %}"></script>
			<script src="{% static "js/foundation/foundation.clearing.js" %}"></script>
			<script src="{% static "js/foundation/foundation.dropdown.js" %}"></script>
			<script src="{% static "js/foundation/foundation.joyride.js" %}"></script>
			<script src="{% static "js/foundation/foundation.section.js" %}"></script>
			<script src="{% static "js/foundation/foundation.placeholder.js" %}"></script>
			<script src="{% static "js/foundation/foundation.cookie.js" %}"></script>
			<script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
			<script src="{% static "js/foundation/foundation.topbar.js" %}"></script>
			<script src="{% static "js/foundation/foundation.magellan.js" %}"></script>
			<script src="{% static "js/foundation/foundation.forms.js" %}"></script>
			<script src="{% static "js/foundation/foundation.abide.js" %}"></script>
			<script src="{% static "js/foundation/foundation.interchange.js" %}"></script>

			<script>
				$(document).foundation();
			</script>
		{% endaddtoblock %}
	</body>
</html>
