{% load cms_tags sekizai_tags static menu_tags semcomp %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Semcomp{% endblock %}</title>
		{% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
		{% addtoblock "css" %}
			<link rel="stylesheet" href="{% static "css/app.css" %}">
			{% block extracss %}{% endblock %}
		{% endaddtoblock %}
	</head>
	<body>
		{% cms_toolbar %}
		<section role="main">
			
			{% block header %}{% endblock %}

			<div class="row">
				<nav class="top-bar">
					<ul class="title-area">
						<li class="name">
							<h1 class="show-for-small"><a href="{% page_url "home" %}">Semcomp</a></h1>
						</li>
						<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
					</ul>
					<section class="top-bar-section">
						<ul>
							{% show_menu 0 100 100 %}
						</ul>
					</section>
				</nav>
			</div>

			{% block base_content %}{% endblock %}

			<!-- Sponsors -->
			<hr>
			{% render_sponsors %}
			<footer>
				<hr>
				{% placeholder footer %}
			</footer>
		</section>
		{% block masterjs %}
			<script>
				var jquery_url = "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js";
				var zepto_url = "{% static "js/vendor/zepto.js" %}";
				document.write('<script src="'
					+ ('__proto__' in {} ? zepto_url : jquery_url)
					+ '"><\/script>'
				);
			</script>
		{% endblock %}
		{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
		{% addtoblock "js" %}
			<script src="{% static "js/vendor/custom.modernizr.js" %}"></script>
			<script src="{% static "js/foundation/foundation.js" %}"></script>
			<script src="{% static "js/foundation/foundation.tooltips.js" %}"></script>
			<script src="{% static "js/foundation/foundation.alerts.js" %}"></script>
			<script src="{% static "js/foundation/foundation.orbit.js" %}"></script>
			<script src="{% static "js/foundation/foundation.clearing.js" %}"></script>
			<script src="{% static "js/foundation/foundation.dropdown.js" %}"></script>
			<script src="{% static "js/foundation/foundation.joyride.js" %}"></script>
			<script src="{% static "js/foundation/foundation.section.js" %}"></script>
			<script src="{% static "js/foundation/foundation.placeholder.js" %}"></script>
			<script src="{% static "js/foundation/foundation.cookie.js" %}"></script>
			<script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
			<script src="{% static "js/foundation/foundation.topbar.js" %}"></script>
			<script src="{% static "js/foundation/foundation.magellan.js" %}"></script>
			<script src="{% static "js/foundation/foundation.forms.js" %}"></script>
			<script src="{% static "js/foundation/foundation.abide.js" %}"></script>
			<script src="{% static "js/foundation/foundation.interchange.js" %}"></script>

			<script>
				$(document).foundation();
			</script>
			{% block extrajs %}{% endblock %}
		{% endaddtoblock %}
	</body>
</html>
