{% load semcomp %}
{% spaceless %}
{% load thumbnail %}
<article class="row panel courseinfo">
	<section class="
	{% if course.speaker %} medium-7 {% else %} medium-12 {% endif %}
	columns">
		<div class="row">
			<div class="medium-3 columns courselogo">
				<img src="{% thumbnail course.photo 110x0%}" alt="">
			</div>
			<div class="medium-9 columns">
				<h1>{{course.title}}<br>
					{% if course.start_date == course.end_date %}
						<small>{{course.start_date|date:"d/m/Y (l)"}}<br>
						{{course.start_time}} - {{course.end_time}}</small>
					{% else %}
						<small>{{course.start_date|date:"d/m/Y"}} {{course.start_time}}<br>
							{{course.end_date|date:"d/m/Y"}} {{course.end_time}}</small>
					{% endif %}
				</h1>
				<span class="label round track-{{course.track}}">Pacote {{course.get_track_display}}</span>
			</div>
		</div>
		<h2>Descrição</h2>
		{% if course.description %}
			{{course.description|linebreaks}}
		{% endif %}
		{% if course.requirements %}
			<h2>Pré-requisitos</h2>
			{{course.requirements|linebreaks}}
		{% endif %}
		{% if course.place %}
			<h2>Local: <small>{{course.place.name}}</small></h2>
			{% render_place course.place %}
		{% endif %}
	</section>
	{% if course.speaker %}
	{% with speaker=course.speaker %}
		<section class="medium-5 columns">
			<h3>{{speaker.name}}<br>
				<small>{{speaker.occupation}}</small></h3>
			{% if speaker.photo %}<div class="text-center"><img src={% thumbnail speaker.photo 370x0 %}></div>{% endif %}
			{{speaker.bio|linebreaks}}
		</section>
	{% endwith %}
	{% endif %}
</article>
{% if request.is_ajax %}
	<a class="close-reveal-modal">&#215;</a>
{% endif %}
{% endspaceless %}
