<article class="row panel">
	<section class="medium-12 columns">
		<h1>Minicursos <small>{{event.start_date|date:"d/m/Y (l)"}}</small></h1>
		<p>Clique em um minicurso para ver sua descrição</p>
	</section>
	<div class="row">
		{% for course in event.course_set.all %}
			<div class="large-6 columns">
				<a href="{{course.get_absolute_url}}" data-reveal-id="course-modal" data-reveal-ajax="true">
					<div class="course-callout panel">
						<h3>{{course.title}}<br>
							<small>{{course.speaker.name}}</small>
							<span class="label round track-{{course.track}}">Pacote {{course.get_track_display}}</span>
						</h3>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
</article>
{% if request.is_ajax %}
	<a class="close-reveal-modal">&#215;</a>
{% else %}
	<div id="course-modal" class="reveal-modal" data-reveal>
		<a class="close-reveal-modal">&#215;</a>
	</div>
{% endif %}
