{% extends "website/base.html" %}
{% load cms_tags menu_tags semcomp sekizai_tags static %}

{% block base_content %}
  <div class="row">
    <div class="large-12 columns panel">
      {% placeholder main_content %}
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns ">
    </div>
    <div class="large-12 columns ">
      {% render_sponsors_detailed %}
    </div>
  </div>
{% endblock %}
{% block extrajs %}
	<script src="{% static "js/foundation/foundation.equalizer.js" %}"></script>
{% endblock %}
