<article class="row panel">
	<section class="medium-7 columns">
		<h1>{{event.lecture.title}}<br>
			<small>{{event.start_date|date:"d/m/Y (l)"}}<br>
			{{event.start_time}} - {{event.end_time}}</small></h1>
		<h2>Descrição</h2>
		{{event.description|linebreaks}}
		{% if event.place %}
			<h2>Local: <small>lugar e tal pode ser meio grande o texto aqui</small></h2>
			<p>mostrar mapa aqui</p>
		{% endif %}
	</section>
	{% if event.lecture.speaker %}
	{% with speaker=event.lecture.speaker %}
		<section class="medium-5 columns">
			<h3>{{speaker.name}}<br>
				<small>{{speaker.occupation}}</small></h3>
			{% if speaker.photo %}<img src={{speaker.photo.url}}>{% endif %}
			{{speaker.bio|linebreaks}}
		</section>
	{% endwith %}
	{% endif %}
</article>
{% if request.is_ajax %}
	<a class="close-reveal-modal">&#215;</a>
{% endif %}
