<html>
<head>
	<meta charset='UTF-8'>
</head>
<body style='font-family:  \"Open Sans\", \"Helvetica Neue\", \"Helvetica\", Helvetica, Arial, sans-serif; background-color: #eee; margin: 0px; padding: 0px;'>
<div style='padding: 15px;'>
<a href='http://semcomp.icmc.usp.br'><img src="http://semcomp.icmc.usp.br/17/static/img/email/logo-semcomp-17.png" height='100px'></a>
</div>

<div style='color: white; background-color: #003E5E; padding: 20px;'>

<h2>Contato Semcomp 17</h2>
<p>Olá {{ name }}, seu e-mail foi recebido iremos respondê-lo assim que possível.</p>
</div>
<div style='padding: 15px;'>
	<div style='float:right;'>
	<a href='https://facebook.com/semcomp17'><img src="http://semcomp.icmc.usp.br/17/static/img/email/facebook-72.png" height='50px'></a>
	<a href='https://plus.google.com/103900653682189265366'><img src="http://semcomp.icmc.usp.br/17/static/img/email/google-plus-72.png" height='50px'></a>
	<a href='https://twitter.com/semcomp'><img src="http://semcomp.icmc.usp.br/17/static/img/email/twitter-72.png" height='50px'></a>
	</div>
	<div style='text-align: center; display: block; margin-left: auto; margin-right: auto; min-height: 50px; vertical-align: middle;'>
		Enquanto isso fique por dentro das novidades da Semcomp 17 nas redes sociais.
	</div>
</div>
</body>
</html>