{% load i18n mathfilters %}

<div class="panel">
	<ul class="small-block-grid-7 schedule-header">
		<li></li>
		<li><div class="outer-container"><div class="inner-container">{% trans "Segunda" %}</div></div></li>
		<li><div class="outer-container"><div class="inner-container">{% trans "Terça" %}</div></div></li>
		<li><div class="outer-container"><div class="inner-container">{% trans "Quarta" %}</div></div></li>
		<li><div class="outer-container"><div class="inner-container">{% trans "Quinta" %}</div></div></li>
		<li><div class="outer-container"><div class="inner-container">{% trans "Sexta" %}</div></div></li>
		<li><div class="outer-container"><div class="inner-container">{% trans "Sábado" %}</div></div></li>
	</ul>
	<ul class="small-block-grid-7">
		<li class="timeslots">
			{% for t in timeslots %}
				<div class="schedule-timeslot">{{t}}</div>
			{% endfor %}
		</li>
		{% for day in days %}
			<li class="day-schedule">
				{% for event in day %}
					{# olhar no css qual o tamanho da linha se for alterar aqui #}
					<a href="{% url "management_events_edit" event.obj.pk %}">
						<div class="schedule-event {{event.type}}"
							 style="left: 0; right: 0; top: {{event.start_slot|mul:20}}px; height: {{event.slots|mul:20}}px;">
							<div class="outer-container">
								<div class="inner-container">
									{{event.type_display}}
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</li>
		{% endfor %}
	</ul>
</div>
