{% load thumbnail %}
{% spaceless %}
{% if sponsors %}
<h1 class="blue-bg"> Patrocinadores </h1>
{% for sponsor in sponsors %}
<div class="row sponsor-description" data-equalizer>
	<div class="medium-8 {% cycle "" "medium-push-4" %} columns">
		<div class="panel" data-equalizer-watch>
			<h2>{{sponsor.name}}</h1>
			<p>
			{{sponsor.description|linebreaks}}
			</p>
			{% if sponsor.url %}
				<span class="link"><a href="{{sponsor.url}}">{{sponsor.url}}</a></span>
			{% endif %}
		</div>
	</div>
	<div class="medium-4 {% cycle "" "medium-pull-8" %} columns">
		<div class="panel" data-equalizer-watch >
		<div class="company-logo">
			<div class="y-center">
              <a href="{{sponsor.url}}"><img src="{% thumbnail sponsor.logo 261x0 %}" alt="{{sponsor.name}}" title="{{sponsor.name}}"></a>
            </div>
	      </div>
	      </div>
	</div>
</div>
{% endfor %}
{% endif %}
{% if partners %}
<h1 class="blue-bg"> Apoio </h1>
{% for partner in partners %}
<div class="row partner-description" data-equalizer>
	<div class="medium-8 {% cycle "" "medium-push-4" %} columns">
		<div class="panel" data-equalizer-watch>
			<h2>{{partner.name}}</h1>
			<p>
			{{partner.description|linebreaks}}
			</p>
			{% if partner.url %}
				<span class="link"><a href="{{partner.url}}">{{partner.url}}</a></span>
			{% endif %}
		</div>
	</div>
	<div class="medium-4 {% cycle "" "medium-pull-8" %} columns">
		<div class="panel" data-equalizer-watch >
		<div class="company-logo">
			<div class="y-center">
              <a href="{{partner.url}}"><img src="{% thumbnail partner.logo 261x0 %}" alt="{{partner.name}}" title="{{partner.name}}"></a>
            </div>
	      </div>
	      </div>
	</div>
</div>
{% endfor %}
{% endif %}

{% endspaceless %}
