<div class="row">
	<div class="text-center">
		<h1 class="blue-bg">Processos seletivos</h1>
	</div>
	<div class="large-12 columns">
		{% regroup processes|dictsort:"start_datetime" by start_datetime|date:"j \d\e F (l)" as process_list %}
		{% for day in process_list %}
			<div class="text-center">
				<h2 class="blue-bg">{{day.grouper}}</h2>
			</div>
			{% for process in day.list %}
				<div class="panel">
					<div class="row">
						{% with process.company as company %}
							<div class="small-4 columns">
								<img src="{{company.logo.url}}">
							</div>
							<div class="small-8 columns">
								<h3>{{company.name}}</h3>
								<p>Horário: {{process.start_datetime|time:"TIME_FORMAT"}} - {{process.end_datetime|time:"TIME_FORMAT"}}</p>
								{% if process.place %}
								<p>Local: <a href="{{process.place.static_map.url}}">{{process.place}}</a></p>
								{% endif %}
							</div>
						{% endwith %}
					</div>
				</div>
			{% endfor %}
		{% empty %}
			<div class="text-center">
				<h2 class="blue-bg">Nenhum processo seletivo cadastrado... Volte mais tarde :-)</h2>
			</div>
		{% endfor %}
	</div>
</div>
