{% load thumbnail %}

<div class="row">
  <div class="text-center">
    <h1 class="blue-bg">Palestras empresariais</h1>
  </div>
  <div class="large-8 large-centered columns">
    <table style="width: 100%;">
      {% for lecture in lectures %}
        <tr>
          <td class="text-center">
            {{lecture.start_datetime|time:"TIME_FORMAT"}} - {{lecture.end_datetime|time:"TIME_FORMAT"}}
          </td>
          <td class="text-center">
            <a href="{{lecture.company.url}}">
              <img class="b-lecture" src="{% thumbnail lecture.company.logo 0x100 %}">
              {{ lecture.company }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

