@import "settings";
@import "localsettings";
@import "foundation";
@import "compass";
@import "xy-center";

@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

$main-menu-width: 150px;
$header-height: 100px;
$header-offset: $header-height + 10px;

// iso-colors: http://www.cs.utah.edu/~gk/papers/vis02/talk/jpg/Image18.jpg
$iso-red: rgb(216, 15, 15);
$iso-green: rgb(0, 151, 0);
$iso-blue: rgb(81, 81, 253);
$iso-yellow: rgb(134, 134, 0);
$iso-cyan: rgb(0, 143, 143);
$iso-magenta: rgb(183, 0, 183);

$static-map-height: 55px;

body {
    background-color: #004F78;
}

.menu-wrap {
    height: 70px;
    overflow: visible;
    width: 100%;
    background-color: #eee;

    position: fixed;
    top: 0px;

    z-index: 10;
}

.menu-topo {
    background-image: image-url("header.png");
    background-repeat: no-repeat;
    background-position: center top;

    text-transform: uppercase;

    ul {
      list-style-type: none;
      margin: 0;
    }
    li {
      display: inline-block;
      width: $main-menu-width
    }
    img {
        margin: 10px;
        height: 80px;
    }
}

main {
	padding-top:10px;
    @media #{$large-up}{
        padding-top: $header-offset;
    }
}

.hero {
	padding-top:10px;
    @media #{$large-up}{
        padding-top: $header-offset;
    }
    background: image-url("hero-background.jpg") no-repeat center center;
    background-size: cover;

    > h1 {
        font-weight: 700;
        font-size: 3.375rem;
    }
    > h1,h2 {
        color: #eee;
    }
    > h2 {
    //    padding-bottom: 8rem;
    }
}

@for $i from 1 through $total-columns {
	.tile-height-#{$i} {
		min-height: ($i / $total-columns) * $row-width - $column-gutter;
	}
}
.flex-video>iframe{
	border:0;
}

.media-icons {
    > a {
        color: #222;
    }
    padding: 20px;
}

.sponsors {
    background-color: #003E5E;
}
.partners {
    background-color: #005785;
}

.sponsors,.partners {
    padding-bottom: 25px;
}

.grid-logo {
    background: white;
    border-radius: 20px;
    padding: 1.25rem;

    > ul{
    	padding:0.5rem;
    }

    .ultrabig li{
        line-height: 150px;
        height: 150px;
        img {
            max-height: 150px;
        }
    }
    .big li{
        line-height: 100px;
        height: 100px;
        img {
            max-height: 100px;
        }
    }
    .normal li{
        line-height: 50px;
        height: 50px;
        img {
            max-height: 50px;
        }
    }

    li {
        vertical-align: middle;
        text-align: center;

        a {
            padding: 10px;
            display: block;
        }
    }
}

footer {
    		background-color: #eee;
    		padding-top: 1.25rem;
    		padding-bottom: 1.25rem;
}

.hrzinho {
		border-top: 1px dashed #000;
      border-bottom: 1px solid #000;
      color: #fff;
      background-color: #fff;
      height: 4px;
}

body{
	.rodape-link {
		padding: 1.25rem 0;
		color: #fff;
		background-color: #004F78;
		a {
			padding: 0 0.6rem;
		}
	}	
}

.media-icons-bottom {
    > a {
        color: #222;
    }
    @media #{$medium-up} {
        padding-top: 30%;
    }
}

//@media #{$large-up} {
	img.realizacao {
		//padding-top: 30px;
        margin-left: 10px;
	}
//}

.semcomp-contatos {
	color: black;
	list-style-type: none;
}

.texto-rodape {
	color: #B0E2FF;
}

.texto-rodape:hover, .texto-rodape:focus {
    color: #4F94CD;
}

#video-apresentacao{
	@media #{$medium-up}{
		padding: 0 3rem;
	}
	@media #{$large-up}{
		padding: 0 10rem;
	}
}

td {
	&.track-A { background-color: yellow; }
	&.track-V { background-color: green; }
}
form img{
	width:100%;
}
.sponsor-description, .partner-description {
	color:black;
	margin-top:1rem;
	margin-bottom:1rem;
	h2{
		font-size:1.618rem;
	}
	.panel{
		position:relative;
		height:100%;
	}
	p{
		text-indent:2rem;
        text-align:justify;
	}
	.link{
		position:absolute;
		bottom:1rem;
		right:1rem;
		float:right;
		font-size:0.667rem;
		::before {
			content:"Site: "
		}
	}
	.company-logo {
        height:100%;
		img{
			width:100%;
			height:auto;
		}
	}
}


.schedule-event {
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 0.8 * $base-font-size;
	line-height: 0.8 * $base-line-height;
	color: white;
	overflow: hidden;
	@include border-radius(4px);
}

a .schedule-event:hover {
		box-shadow: 0 0 5px 5px cyan;
}

.day-schedule {
	position: relative;
	width: 100px;
}

.timeslots {
	padding-top: 0;
	.schedule-timeslot {
		line-height: 20px;
		text-align: center;
	}
}

.schedule {
	background-color: white;
	color: invert($body-font-color);
}

@media #{$medium-up} {
	.course-callout {
		min-height: 125px;
	}
}

.course-callout {
	background-color: white;
}

.track-A { background-color: $iso-yellow; }
.track-V { background-color: $iso-green; }

// www.andy-howard.com/verticalAndHorizontalAlignment/index.html
.outer-container {
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.outer-container .inner-container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#add-place-map {
	height: 280px;
}


.crop-static-map {
	height: $static-map-height;
	overflow: hidden;

	margin-bottom: 20px;
}

.static-map-management {
	height: 256px;
	margin-top: -128px + $static-map-height / 2;
}

.minicursos {
    .courselogo{
        padding: 5px;
        text-align: center;
        height:100px;
        @media #{$medium-up}{
            height:180px;
        }
        a img{
            max-height:100px;
            @media #{$medium-up}{
                max-height:180px;
            }
            @include y-center();
        }
    }
    .coursetitle {
        text-align: center;
    }
}

.courseinfo{
    .courselogo{        
            text-align: center;
    }
    @media #{$medium-up}{
        .courselogo {
            height:10rem;
            max-height:10rem;
            img {
                @include y-center();
            }
        }
    }
    p {
        text-align: justify;
        text-indent: 2rem;
    }
}

label {
    color: #fff;
}

a.dark-bg{
    color: #fff;
    &:hover{
        color: #00B3EE;
    }
}

.blue-bg{
    color: #eee;
}

.justify-text{
    text-align:justify;
    text-justify:inter-word; // IE
}

@media #{$small-only} {
	.management-table-scroll {
		width: 100%;
		overflow-x: auto;
	}
}

.management-table-scroll {
	table {
		width: 100%;
	}
}

dt{
    font-weight:bold;
}
.payment_status{
    dt{
        margin: 0.5rem 0 0.5rem 0.2rem;
    }
    dd, dt{
        color:#333;
    }
}

.payment_buttons button{
    margin:1rem auto; 
}

img.b-lecture {
	margin-left: auto;
	margin-right: auto;
	max-height: 100px;
	display: block;
}

img.image-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.side-nav label {
  color: $header-font-color;
  font-weight: bold;
}

.company-in-fair {
	min-height: 350px;
	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

.company-logo-container {
	height: 100px;
}
