@import "settings";
@import "localsettings";
@import "foundation";
@import "compass";

@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

$main-menu-width: 150px;
$header-height: 100px;
$header-offset: $header-height + 10px;

body {
    background-color: #004F78;
}

.menu-wrap {
    height: 70px;
    overflow: visible;
    width: 100%;
    background-color: #eee;

    position: fixed;
    top: 0px;

    z-index: 10;
}

.menu-topo {
    background-image: image-url("header.png");
    background-repeat: no-repeat;
    background-position: center top;

    text-transform: uppercase;

    ul {
      list-style-type: none;
      margin: 0;
    }
    li {
      display: inline-block;
      width: $main-menu-width
    }
    img {
        margin: 10px;
        height: 80px;
    }
}

main {
    padding-top: 100px; //100px é o tamanho atual da imagem do topo
}

.hero {
    padding-top: $header-height;
    background: image-url("hero-background.jpg") no-repeat center center fixed;
    background-size: cover;

    > h1 {
        font-weight: 700;
        font-size: 400%;
    }
    > h1,h2 {
        color: #eee;
    }
    > h2 {
    //    padding-bottom: 8rem;
    }
}

@for $i from 1 through $total-columns {
	.tile-height-#{$i} {
		min-height: ($i / $total-columns) * $row-width - $column-gutter;
	}
}


.media-icons {
    > a {
        color: #222;
    }
    padding: 20px;
}

.sponsors {
    background-color: #003E5E;
}
.partners {
    background-color: #005785;
}

.sponsors,.partners {
    padding-bottom: 25px;
}

.grid-logo {
    background: white;
    border-radius: 20px;
    padding: 1.25rem;
    
    > ul{
    	padding:0.5rem;
    }

    .ultrabig li{
        line-height: 150px;
        height: 150px;
        img {
            max-height: 150px;
        }
    }
    .big li{
        line-height: 100px;
        height: 100px;
        img {
            max-height: 100px;
        }
    }
    .normal li{
        line-height: 50px;
        height: 50px;
        img {
            max-height: 50px;
        }
    }

    li {
        vertical-align: middle;
        text-align: center;

        a {
            padding: 10px;
            display: block;
        }
    }
}

footer {
	
    		background-color: #eee;
    		padding-top: 1.25rem;
    		padding-bottom: 1.25rem;
	
}

.hrzinho {
		border-top: 1px dashed #000;
      border-bottom: 1px solid #000;
      color: #fff;
      background-color: #fff;
      height: 4px;
}

body{
	.rodape-link {
		padding: 1.25rem 0;
		color: #fff;
		background-color: #004F78;
		a {
			padding: 0 0.6rem;
		}
	}	
}

.media-icons-bottom {
    > a {
        color: #222;
    }
    @media #{$medium-up} {
        padding-top: 30%;
    }
}

@media #{$large-up} {
	img.realizacao {
		padding-top: 30px;
	}
}

.semcomp-contatos {
	color: black;
	list-style-type: none;
}

.texto-rodape {
	color: #B0E2FF;
}

.texto-rodape:hover, .texto-rodape:focus {
    color: #4F94CD;
}

#video-apresentacao{
	@media #{$medium-up}{
		padding: 0 3rem;
	}
	@media #{$large-up}{
		padding: 0 10rem;
	}
}

td {
	&.track-A { background-color: yellow; }
	&.track-V { background-color: green; }
}
form img{
	width:100%;
}
