{% extends "management/base.html" %}

{% block user_content %}
	<div class="row">
		<div class="large-12 columns">
			<h1 class="blue-bg">Presença</h1>
			<div class="management-table-scroll">
				<table>
					<thead>
						<tr>
							<th>nome evento</th>
							<th>pessoas presentes</th>
							<th>cadastrar presença</th>
							<th>relatório</th>
						</tr>
					</thead>
					<tbody>
						{% for event in events %}
							<tr>
								<td>{{event.name}}</td>
								<td>{{event.attendance}}</td>
								<td><a href="{% url "management_attendance_submit" event.pk %}" class="small expand button">Cadastrar</a></td>
								<td><a href="#" class="small expand button">Relatório</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% if not events %}
			<div class="panel">
				<p>Sem eventos pra cadastrar presença? Você pode precisar ir na
				<a href="{% url "management_events" %}">aba de eventos</a> e
				cadastrar algum evento para contar presença</p>
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
