{% extends "website/base.html" %}

{% load i18n static %}

{% block extracss %}
	<link href="{% static "bower_components/fontawesome/css/font-awesome.min.css" %}" rel="stylesheet">
{% endblock %}

{% block base_content %}
	<div class="row">
		<div class="large-3 columns">
			<div class="panel">
			<ul class="side-nav">
				<li><label>Geral</label></li>
				<li {% if active_overview %}class="active"{% endif %}>
					<a href="{% url "management_overview" %}">
						<i class="fa fa-fw fa-home"></i> {% trans "Visão geral" %}
					</a>
				</li>
				<li class="divider"></li>
				<li><label>Ações</label></li>
				<li {% if active_messages %}class="active"{% endif %}>
					<a href="{% url "management_messages" %}">
						<i class="fa fa-fw fa-envelope"></i> {% trans "Mensagens" %}
					</a>
				</li>
				<li {% if active_attendance %}class="active"{% endif %}>
					<a href="{% url "management_attendance" %}">
						<i class="fa fa-fw fa-list"></i> {% trans "Presença" %}
					</a>
				</li>
				<li {% if active_users %}class="active"{% endif %}>
					<a href="{% url "management_users" %}">
						<i class="fa fa-fw fa-users"></i> {% trans "Usuários" %}
					</a>
				</li>
				<li class="divider"></li>
				<li><label>Cadastrar coisas</label></li>
				<li {% if active_places %}class="active"{% endif %}>
					<a href="{% url "management_places" %}">
						<i class="fa fa-fw fa-map-marker"></i> {% trans "Locais" %}
					</a>
				</li>
				<li {% if active_events %}class="active"{% endif %}>
					<a href="{% url "management_events" %}">
						<i class="fa fa-fw fa-calendar"></i> {% trans "Eventos" %}
					</a>
				</li>
				<li {% if active_lectures %}class="active"{% endif %}>
					<a href="{% url "management_lectures" %}">
						<i class="fa fa-fw fa-comment"></i> {% trans "Palestras" %}
					</a>
				</li>
				<li {% if active_courses %}class="active"{% endif %}>
					<a href="{% url "management_courses" %}">
						<i class="fa fa-fw fa-pencil"></i> {% trans "Minicursos" %}
					</a>
				</li>
				<li {% if active_companies %}class="active"{% endif %}>
					<a href="{% url "management_companies" %}">
						<i class="fa fa-fw fa-building-o"></i> {% trans "Empresas" %}
					</a>
				</li>
				<li {% if active_processes %}class="active"{% endif %}>
					<a href="{% url "management_processes" %}">
						<i class="fa fa-fw fa-briefcase"></i> {% trans "Processos seletivos" %}
					</a>
				</li>
				<li {% if active_business_lectures %}class="active"{% endif %}>
					<a href="{% url "management_business_lectures" %}">
						<i class="fa fa-fw fa-suitcase"></i> {% trans "Palestras empresariais" %}
					</a>
				</li>
				{% if user.is_admin %}
				<li class="divider"></li>
				<li><label>Configurações avançadas</label></li>
				<li {% if active_config %}class="active"{% endif %}>
					<a href="{% url "management_config" %}">
						<i class="fa fa-fw fa-cog"></i> {% trans "Configurações" %}
					</a>
				</li>
				{% endif %}
			</ul>
			</div>
		</div>
		<div class="large-9 columns user-content">
			{% block user_content %}{% endblock %}
		</div>
	</div>
{% endblock %}

