{% extends "management/base.html" %}

{% block user_content %}
  <div class="row">
  <h1 class="blue-bg">Minicursos</h1>
    <div class="large-12 columns">
      <div class="management-table-scroll">
        <table>
          <thead>
            <tr>
              <th>slots</th>
              <th>título</th>
              <th>pacote</th>
              <th>local</th>
              <th>palestrante</th>
              <th>vagas</th>
              <th>ação</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
              <tr>
                <td>
                  {% for slot in course.slots.all %}
                    {{slot}}{% if not forloop.last %}<br>{% endif %}
                  {% empty %}
                    <span class="alert-box alert">sem horário</span>
                  {% endfor %}
                </td>
                <td>{{course.title}}</td>
                <td class="track-{{course.track}}">{{course.get_track_display}}</td>
                <td>{{course.place|default:"<span class=\"alert-box alert\">sem local</span>"}}</td>
                <td>{{course.speaker|default:"<span class=\"alert-box alert\">sem palestrante</span>"}}</td>
                <td>{{course.get_number_of_subscribers}}/{{course.vacancies}}</td>
                <td>
                  <a href="{% url "management_courses_edit" course.pk %}"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                  <a href="{% url "management_courses_members" course.pk %}"><i class="fa fa-users fa-2x"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <a class="button" href="{% url "management_courses_add" %}">Adicionar minicurso</a>
    </div>
  </div>
{% endblock %}
