{% extends "management/base.html" %}

{% block user_content %}
{% spaceless %}
{% for message in messages %}
  <div class="alert-box {{message.tags}}">{{message}}</div>
{% endfor %}
  <h2 class="blue-bg">Participantes</h2>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>NUSP</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{user.full_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.id_usp}}</td>
          <td><a class="tiny extend alert button" href="{% url "management_courses_expel" course.pk user.pk%}">Expulsar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endspaceless %}
{% endblock %}