{% extends "management/base.html" %}

{% load i18n %}

{% block user_content %}
  <form
    method="post"
    enctype="multipart/form-data"
    {% if course_form.instance.pk %}
      action="{% url "management_courses_edit" course_form.instance.pk %}">
    {% else %}
      action="{% url "management_courses_add" %}">
    {% endif %}
    {% csrf_token %}
    <fieldset>
      {% if course_form.instance.pk %}
        <legend>Editar minicurso</legend>
      {% else %}
        <legend>Adicionar minicurso</legend>
      {% endif %}
      <div class="row">
        {% include "management/render_field.html" with field=course_form.slots width="large-12" only %}
      </div>
      <div class="row">
        {% include "management/render_field.html" with field=course_form.title width="large-12" only %}
      </div>
      <div class="row">
          <div class="medium-4 columns">
            <img src=
            {% if course_form.instance.photo %}
            "{{ course_form.instance.photo.url }}"
            {% else %}
             "http://placehold.it/200&text=Sem+Logo" 
             {% endif %} >
          </div>

          {% include "management/render_field.html" with field=course_form.photo width="medium-8 " only %}
      </div>
      <div class="row">
        {% include "management/render_field.html" with field=course_form.place width="large-4" only %}
        {% include "management/render_field.html" with field=course_form.track width="large-4" only %}
        {% include "management/render_field.html" with field=course_form.vacancies width="large-4" only %}
      </div>
      <div class="row">
        {% include "management/render_field.html" with field=course_form.description width="large-12" only %}
      </div>
      <div class="row">
        {% include "management/render_field.html" with field=course_form.requirements width="large-12" only %}
      </div>

      <fieldset>
        <legend>Palestrante</legend>
        {{speaker_form}}
        <fieldset>
          <legend>Contato</legend>
          {{contact_formset.management_form}}
          {% for subform in contact_formset %}
            {{subform.id}}
            <div class="row">
              {% include "management/render_field.html" with field=subform.type width="large-6" only %}
              {% include "management/render_field.html" with field=subform.value width="large-6" only %}
            </div>
          {% endfor %}
        </fieldset>
      </fieldset>

      <input class="button right" type="submit" value="{% trans "Salvar" %}">
      {% if course_form.instance.pk %}
        <a href="{% url "management_courses_delete" course_form.instance.pk %}" class="button left alert" onclick="return confirm('Tem certeza que deseja apagar?');">{% trans "Apagar" %}</a>
      {% endif %}
    </fieldset>
  </form>
  {% if course_form.instance.pk %}
    {% include "management/render_course_attendance.html" with users=users only %}
  {% endif %}
{% endblock %}
