{% extends "management/base.html" %}
{% load static sekizai_tags django_select2_tags %}

{% block user_content %}
{% spaceless %}
{% for message in messages %}
  <div class="alert-box {{message.tags}}">{{message}}</div>
{% endfor %}
<form method="post" action="{% url "management_courses_members" course.pk %}" >
{% csrf_token %}
<fieldset>
  <legend>Adicionar Membro</legend>
  <div class="row">
    <div class="to-email-container">
      {% include "management/render_field.html" with field=form.member width="medium-8" only %}
    </div>
    <div class="medium-4 columns">      
      <button>Adicionar</button>
    </div>
  </div>
</fieldset>
</form>
<h2 class="blue-bg">Participantes</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>NUSP</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{user.full_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.id_usp}}</td>
        <td><a class="tiny extend alert button" href="{% url "management_courses_expel" course.pk user.pk%}">Expulsar</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endspaceless %}
{% endblock %}

{% block extracss %}
  {% import_django_select2_css %}
  <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
{% endblock %}

{% block basejs %}
  <script src="{% static "bower_components/foundation/js/foundation.min.js" %}"></script>
  <script src="{% static "js/app.js" %}"></script>
  {% import_django_select2_js %}
{% endblock %}


