{% extends "management/base.html" %}

{% load sekizai_tags i18n static %}

{% block user_content %}
<form
	method="post"
	{% if form.instance.pk %}
		action="{% url "management_events_edit" form.instance.pk %}">
	{% else %}
		action="{% url "management_events_add" %}">
	{% endif %}
	{% csrf_token %}
	<fieldset>
		{% if form.instance.pk %}
			<legend>Editar evento</legend>
		{% else %}
			<legend>Adicionar evento</legend>
		{% endif %}
		<div class="row">
			{% include "management/render_field.html" with field=form.color width="large-2" only %}
			{% include "management/render_field.html" with field=form.type width="large-10" only %}
		</div>
		<div class="row">
			{% include "management/render_field.html" with field=form.start_date width="large-6" only %}
			{% include "management/render_field.html" with field=form.start_time width="large-6" only %}
		</div>
		<div class="row">
			{% include "management/render_field.html" with field=form.end_date width="large-6" only %}
			{% include "management/render_field.html" with field=form.end_time width="large-6" only %}
		</div>
		<fieldset class="event-extra-data hide">
			<legend>Dados evento</legend>
			{{formset}}
		</fieldset>
	</fieldset>
	<input class="button right" type="submit" value="{% trans "Salvar" %}">
	{% if form.instance.pk %}
		<a href="{% url "management_events_delete" form.instance.pk %}" class="button left alert" onclick="return confirm('Tem certeza que deseja apagar?');">{% trans "Apagar" %}</a>
	{% endif %}
</form>
{% endblock %}

{% block extracss %}
	{{block.super}}
	<link rel="stylesheet" href="{% static "css/pickadate/default.css" %}">
	<link rel="stylesheet" href="{% static "css/pickadate/default.date.css" %}">
	<link rel="stylesheet" href="{% static "css/pickadate/default.time.css" %}">
	<link rel="stylesheet" href="{% static "bower_components/spectrum/spectrum.css" %}">
{% endblock %}

{% block extrajs %}
	<script src="{% static "js/pickadate/picker.js" %}"></script>
	<script src="{% static "js/pickadate/picker.date.js" %}"></script>
	<script src="{% static "js/pickadate/picker.time.js" %}"></script>
	<script src="{% static "js/pickadate/translations/pt_BR.js" %}"></script>
	<script src="{% static "bower_components/spectrum/spectrum.js" %}"></script>
	<script type="text/javascript">
		$("#id_start_date").pickadate({
			format: 'dd/mm/yyyy',
			min: [{{first_day|date:"Y,n-1,d"}}],
			max: [{{last_day|date:"Y,n-1,d"}}],
			today: '',
			onSet: function (e) {
				$("#id_end_date").val(
					$("#id_start_date").val()
				);
			}
		});
		$("#id_end_date").pickadate({
			format: 'dd/mm/yyyy',
			min: [{{first_day|date:"Y,n-1,d"}}],
			max: [{{last_day|date:"Y,n-1,d"}}],
			today: '',
		});
		$("#id_start_time").pickatime({
			format: 'HH:i',
			min: [8, 0],
			max: [23, 0],
			onSet: function (e) {
				$("#id_end_time").val(
					$("#id_start_time").val()
				);
			}
		});
		$("#id_end_time").pickatime({
			format: 'HH:i',
			min: [8, 0],
			max: [23, 0]
		});
		
		// Habilita ou desliga o form extra
		$("#id_type").change(function(ev) {
			var value = $(this).val();
			if (["minicurso", "palestra", "coffee"].indexOf(value) >= 0) {
				$('.event-extra-data').addClass('hide');
			} else {
				$('.event-extra-data').removeClass('hide');
			}
		}).change();

		// Color picker pra escolher a cor do evento
		// http://clrs.cc/
		$("#id_color").spectrum({
			preferredFormat: "hex",
			showPalette: true,
			showPaletteOnly: true,
			palette: [
				["#001F3F", "#0074D9", "#7FDBFF"],
				["#39CCCC", "#3D9970", "#2ECC40"],
				["#01FF70", "#FFDC00", "#FF851B"],
				["#FF4136", "#85144B", "#F012BE"],
				["#B10DC9", "#111111", "#AAAAAA"],
				["#DDDDDD", "#FFFFFF"],
			]
		});
	</script>
{% endblock %}
