{% extends "management/base.html" %}

{% load sekizai_tags i18n %}

{% block user_content %}
<form method="post" action="{% url "management_events_add" %}">
	{% csrf_token %}
	<fieldset>
		{% if form.instance.pk %}
			<legend>Editar evento</legend>
		{% else %}
			<legend>Adicionar evento</legend>
		{% endif %}
		<div class="row">
			{% include "management/render_field.html" with field=form.name width="large-6" only %}
			{% include "management/render_field.html" with field=form.type width="large-6" only %}
		</div>
		<div class="row">
			{% include "management/render_field.html" with field=form.place width="large-6" only %}
			{% include "management/render_field.html" with field=form.in_schedule width="large-6" only %}
		</div>
		<div class="row">
			{% include "management/render_field.html" with field=form.description width="large-12" only %}
		</div>
		<div class="row">
			{% include "management/render_field.html" with field=form.start_date width="large-6" only %}
			{% include "management/render_field.html" with field=form.start_time width="large-6" only %}
		</div>
		<div class="row">
			{% include "management/render_field.html" with field=form.end_date width="large-6" only %}
			{% include "management/render_field.html" with field=form.end_time width="large-6" only %}
		</div>
		<input class="button" type="submit" value="{% trans "Salvar" %}">
	</fieldset>
</form>
{% endblock %}
