{% extends "management/base.html" %}

{% load static %}

{% block user_content %}
	<div class="row">
		<div class="large-12 columns">
			{% include "management/messages_detail_include.html" with message=email_message only %}
		</div>
		{% if replies %}
			{% for reply in replies %}
				<div class="large-12 columns">
					{% include "management/messages_detail_include.html" with message=reply only %}
				</div>
			{% endfor %}
		{% endif %}
		<div class="large-12 columns">
			<div class="panel">
				<p>Respondendo para: {{email_message.from_email}}</p>
				<form class="message-body-form clearfix" action="{% url "management_messages_detail" email_message.pk %}" method="post">
					{% csrf_token %}
					{{form.html_body}}
					<input class="button right" type="submit" value="Enviar">
					<a class="button alert left" href="#" data-reveal-id="delete-modal">Apagar</a>
				</form>
			</div>
		</div>
	</div>
	<div class="reveal-modal small panel" id="delete-modal" data-reveal>
		<p>Isso vai apagar todas as mensagens deste tópico permanentemente. Deseja continuar?</p>
		<a href="{% url "management_messages_delete" email_message.pk %}" class="right button alert">Destruir todas as<br>mensagens para sempre</a>
		<a href="#" class="left button" onclick="closeModal();" >Eu errei, desculpe!</a>
	</div>
{% endblock %}

{% block extrajs %}
	{% include "management/ckeditor_include.html" with textarea_id="id_html_body" only %}
	<script type="text/javascript">
		function closeModal() {
			$('#delete-modal').foundation('reveal', 'close');
		}
	</script>
{% endblock %}
