{% extends "management/base.html" %}

{% block user_content %}
<div class="row">
	<h1 class="text-right">Locais</h1>
	<p>Aqui você pode editar locais onde acontecem as coisas da Semcomp, como
	laboratórios, auditórios, E1, biblioteca etc.</p>
	<p><strong>Nota:</strong> É necessário criar um local aqui antes de usá-lo
	para algum evento.</p>
</div>
<div class="row">
	{% for place in places %}
		<div class="large-4 columns">
			<div class="panel">
				<div class="row">
					<p class="large-8 columns">{{place.name}}</p>
					<div class="large-4 columns">
						<a title="Editar" href="{% url "management_places_edit" place.pk %}"><i class="fa fa-edit"></i></a>
						<a title="Apagar" href="{% url "management_places_delete" place.pk %}"><i class="fa fa-eraser"></i></a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="large-4 columns">
		<a class="large button expand" href="{% url "management_places_add" %}"><i class="fa fa-plus"></i> Adicionar local</a>
	</div>
</div>
{% endblock %}
