{% extends "management/base.html" %}

{% load sekizai_tags i18n l10n %}

{% block user_content %}

{% addtoblock "css" %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
{% endaddtoblock %}

<div class="row">
	<div class="large-7 columns">
		<div id="add-place-map"></div>
		{% if form.latitude.errors %}
			<div class="error">
				<small>Você deve escolher uma posição no mapa!</small>
			</div>
		{% endif %}
	</div>
	<div class="large-5 columns">
		<p>Clique no mapa e altere o <em>zoom</em> para definir o local.</p>
		<form
			id="add-place"
			method="post"
			{% if form.instance.pk %}
				action="{% url "management_places_edit" form.instance.pk %}"
			{% else %}
				action="{% url "management_places_add" %}"
			{% endif %}
		>
			{% csrf_token %}
			{% for field in form.hidden_fields %}
				{{field}}
			{% endfor %}
				{{form.non_field_errors}}
				<div class="row">
					{% for field in form.visible_fields %}
						<div class="large-12 columns {% if field.errors %}error{% endif%}">
							{{field.label_tag}}
							{{field}}
							{% for error in field.errors %}
								<small>{{error}}</small>
							{% endfor %}
						</div>
					{% endfor %}
					<div class="large-12 columns">
						<input class="button right" type="submit" value="{% trans "Salvar" %}">
        <a href="#" class="button left alert" onclick="return confirm('Tem certeza que deseja apagar?');">{% trans "Apagar" %}</a>
					</div>
				</div>
		</form>
	</div>
</div>

{% endblock %}

{% block extrajs %}

{% addtoblock "js" %}
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script type="text/javascript">
	{% if form.latitude.value %}
		var map = L.map('add-place-map').setView(
			[
				{{form.latitude.value|unlocalize}},
				{{form.longitude.value|unlocalize}}
			], {{form.zoom.value}}
		);
		var marker = L.marker(map.getCenter()).addTo(map);
	{% else %}
		var map = L.map('add-place-map').setView([-22.0077, -47.89616], 16);
		var marker = null;
	{% endif %}

	L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; OpenStreetMap contributors',
		maxZoom:18
	}).addTo(map);

	map.on('click', function(e) {
		if (!marker) {
			marker = L.marker(e.latlng).addTo(map);
		} else {
			marker.setLatLng(e.latlng);
		}

		var decimal_places = 8;
		$('#id_latitude').val(e.latlng.lat.toFixed(decimal_places));
		$('#id_longitude').val(e.latlng.lng.toFixed(decimal_places));
		$('#id_zoom').val(map.getZoom());
	});
</script>
{% endaddtoblock %}

{% endblock %}
