{% extends "management/base.html" %}

{% block user_content %}
  <div class="row">
    <div class="large-12 columns">
      <h1 class="blue-bg">Processos seletivos</h1>
      <div class="management-table-scroll">
        <table>
          <thead>
            <tr>
              <th>Horário</th>
              <th>Empresa</th>
              <th>Local</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            {% for process in processes %}
              <tr>
                <td>{{process.start_datetime}}<br>{{process.end_datetime}}</td>
                {% if process.company %}
                  <td>{{process.company}}</td>
                {% else %}
                  <td><span class="alert-box alert">Sem empresa</span></td>
                {% endif %}
                {% if process.place %}
                  <td>{{process.place}}</td>
                {% else %}
                  <td><span class="alert-box alert">Sem local</span></td>
                {% endif %}
                <td><a href="{% url "management_processes_edit" process.pk %}" class="button expand"><i class="fa fa-edit"></i> Editar</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="large-12 columns">
      <a class="button expand" href="{% url "management_processes_add" %}">Adicionar processo seletivo</a>
    </div>
  </div>
{% endblock %}
