{% extends "website/base.html" %}

{% load i18n %}

{% block base_content %}
	<div class="row">
		<div class="large-6 large-centered columns">
			<form method="post" action="{% url "signup_signup" %}">
				<fieldset>
					<legend>Criar nova conta</legend>
					{% csrf_token %}
					{{form.as_p}}
					<div class="row">
						<div class="large-6 push-6 columns">
							<input class="button full-width small" type="submit" value="{% trans "Criar" %}">
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
