{% extends "account/base.html" %}
{% load cms_tags %}
{% block user_content %}
{% spaceless %}

{% include "account/render_payment_status.html" with inscricao=inscricao only %}
	<div class="panel">
		{% if payment_open %}
			{% static_placeholder "instrucoes_pagamento" %}
		{% else %}
			<div class="alert alert-box">As inscrições estão encerradas!</div>
		{% endif %}
		<p class="text-right">
		{% if inscricao and inscricao.pagamento %}
			Você já está inscrito na Semcomp!
		{% elif not payment_open %}
		{% elif inscricao and inscricao.comprovante %}
			Comprovante enviado! Aguardando confirmação.
			<a class="button" href="{% url "account_payment_send" %}">Reenviar Comprovante</a>
		{% else %}
			Já realizou o depósito?
			<a class="button" href="{% url "account_payment_send" %}">Envie o Comprovante</a>
		{% endif %}
		</p>
	</div>

{% endspaceless %}
{% endblock %}