<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load semcomp %}

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width"/>

		<style type="text/css">
			{% include "emails/ink.css" %}
		</style>
		<style type="text/css">
			/* Your custom styles go here */
		</style>
	</head>
	<body>
		<table class="body">
			<tr>
				<td class="center" align="center" valign="top">
					<center>
						<table class="container">
							<tr>
								<td>
									<table class="row">
										<tr>
											<td class="wrapper">
												<table class="eight columns">
													<tr>
														<td>
															<p>Olá, {{user_first_name}}, este email é um lembrete para o seu minicurso amanhã, dia {{course.start_date}}.</p>
															<p>O minicurso <strong>{{course.title}}</strong> vai começar as <strong>{{course.start_time|time:""}}</strong> e
															vai acontecer no <strong>{{course.place}}</strong>. Clique no mapa para se localizar.</p>
															<p>Não se esqueça de levar seu crachá, caso o esqueça não será permitido participar do minicurso.
															Caso tenha algum problema, procure alguém da organização!</p>

															<p><strong>Material</strong></p>
															<p>Se você puder, leve um notebook para o minicurso, você poderá executar os softwares necessários para os
															minicursos usando máquinas virtuais que providenciaremos.</p>

															<p><strong>Transporte</strong></p>
															<p>Se seu minicurso é no Campus 2, fique atento: há possibilidade de os ônibus da USP não funcionarem amanhã
															fazendo o trajeto Campus 1 &lt;-&gt; Campus 2 devido à greve. Se você pode, ofereça uma carona para seus
															amigos. Caso prefira ir de ônibus, há ônibus passando na saída do observatório do Campus 1 que levam direto
															à entrada do Campus 2. O ônibus passa no ponto as 7h15, e depois às 8h15.</p>

															<p><strong>Credenciamento</strong></p>
															<p>Se você ainda não pegou seu crachá, vá a partir das 7h00 na sala do PET (Sala 1-103, bloco 1)</p>
														</td>
														<td class="expander"></td>
													</tr>
												</table>
											</td>
											<td class="wrapper last">
												<table class="four columns">
													<tr>
														<td>
															{% render_place course.place "absolute" %}
														</td>
														<td class="expander"></td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</center>
				</td>
			</tr>
		</table>
	</body>
</html>
