Olá, {{user_first_name}}, este email é um lembrete para o seu minicurso
amanhã, dia {{course.start_date}}.

O minicurso {{course.title}} vai começar as {{course.start_time|time:""}} e
vai acontecer no {{course.place}}.

Não se esqueça de levar seu crachá, caso o esqueça não será permitido
participar do minicurso. Caso tenha algum problema, procure alguém da organização!

Material
========

Se você puder, leve um notebook para o minicurso, você poderá executar os softwares
necessários para os minicursos usando máquinas virtuais que providenciaremoA.

Transporte
==========

Se seu minicurso é no Campus 2, fique atento: não há ônibus da USP fazendo o trajeto
Campus 1 &lt;-&gt; Campus 2 devido à greve. Se você pode, ofereça uma carona para
seus amigos. Caso prefira ir de ônibus, há ônibus passando na saída do observatório
do Campus 1 que levam direto à entrada do Campus 2.

Credenciamento
Se você ainda não pegou seu crachá, vá a partir das 7h00 na sala do PET (Sala 1-103, bloco 1)
